<html>
<head>
    <title>Alta de usuario</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/jquery.serializejson.js"></script>
    <script src="/js/locationpicker.jquery.js"></script>
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDv1-n9QVS0raagg3C5ifxJfYgkycK5Sjk'></script>
</head>
<body>
<header>
    <nav class="main-navigator">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">MatchApp</a>
            <a href="/" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/form_viewUser">Usuarios</a></li>
            </ul>
            <ul class="side-nav" id="mobile" style="transform: translateX(-100%);">
                <li><a href="/form_viewUser">Usuarios</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <h2 class="header center-align">Alta de usuario</h2>
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputNombre" class="col-sm-2 control-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputNombre" placeholder="Nombre"
                                           name="name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAlias" class="col-sm-2 control-label">Alias</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAlias" placeholder="Alias"
                                           name="username" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword"
                                           placeholder="Password"
                                           name="password" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputGender" class="col-sm-2 control-label">Gender</label>
                                <div class="col-sm-10">
                                    <select id="inputGender" placeholder="Gender" name="gender"
                                            class="form-control browser-default">
                                        <option value="F">F</option>
                                        <option value="M">M</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputAge" class="col-sm-2 control-label">Age</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAge" placeholder="Age" name="age"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email"
                                           name="email"/>
                                </div>
                            </div>
                            <div class="row location">
                                <div class="col s8" id="locationPicker"></div>
                                <div class="col s4">
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Latitud</label>
                                        <input type="text" class="form-control" id="inputLatitude"
                                               placeholder="Latitud"
                                               name="latitude"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Longitud</label>
                                        <input type="text" class="form-control" id="inputLongitude"
                                               placeholder="Longitud"
                                               name="longitude"/>
                                    </div>
                                </div>
                            </div>

                            <div id="filePicker" class="form-group col s12">
                                <div class="col s12">
                                    <img id="image" class="centered-and-cropped" src="/ic_user.png" alt="your image"/>
                                </div>

                                <div class="col s12">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>Pick photo</span>
                                            <input type="file" class="form-control" id="inputfile" placeholder="file"
                                                   name="file" required/>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-large">Enviar <i
                                            class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    $(document).ready(function () {

        var locationPicker = $('#locationPicker')

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }

        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            locationPicker.locationpicker({
                location: {latitude: latitude, longitude: longitude},
                radius: 500,
                onchanged: function (currentLocation, radius, isMarkerDropped) {
                    $("#inputLatitude").val(currentLocation.latitude);
                    $("#inputLongitude").val(currentLocation.longitude);
                },
                inputBinding: {
                    latitudeInput: $('#inputLatitude'),
                    longitudeInput: $('#inputLongitude')
                }
            });
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#inputfile").change(function () {
            readURL(this);
        });
    });

    var form = $("form")

    form.submit(function (event) {
        // Cancels the form's submit action.
        event.preventDefault();

        var data = form.serializeJSON();

        var file = $('#inputfile')[0].files[0];
        $(this).validate();
        var validForm = $(this).validate();

        if (validForm) {
            var reader = new FileReader();
            reader.onload = function (readerEvt) {
                data.photo_profile = readerEvt.target.result.substr(reader.result.indexOf(',') + 1);
                $.ajax({
                    url: "/users",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json; charset=UTF-8',
                    success: function (resultData) {
                        window.location.href = "/form_viewUser";
                    },
                    error: function (xhr, status, error) {
                        try {
                            var response = JSON.parse(xhr.responseText);
                            alert(response.error);
                        } catch (e) {
                            alert('Some error ocurred. Please try again.');
                        }
                    }
                });
            };
            reader.readAsDataURL(file);
        }
    });
</script>
</body>
</html>
