<html>
<head>
    <title>Listado de usuarios</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <nav class="main-navigator">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">MatchApp</a>
            <a href="/" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/form_viewUser">Usuarios</a></li>
            </ul>
            <ul class="side-nav" id="mobile" style="transform: translateX(-100%);">
                <li><a href="/form_viewUser">Usuarios</a></li>
            </ul>
        </div>
    </nav>
    <nav class="breadcrumbs">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="/" class="breadcrumb">Home</a>
                <a href="/form_viewUser" class="breadcrumb">Usuarios</a>
            </div>
            <ul id="nav-mobile" class="right">
                <li><a href="/form_newUser" class="waves-effect waves-light btn">Nuevo usuario</a></li>
            </ul>
        </div>
    </nav>

</header>
<main class="table-page">
    <div class="container">
        <div class="row">
            <h2 class="header center-align">Listado de usuarios</h2>
            <div class="col s12 m12">
                <div class="panel panel-default">
                    <!-- Table -->
                    <table class="table table-striped " id="tabla">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Alias</th>
                            <th>Sexo</th>
                            <th>Edad</th>
                            <th>Email</th>
                            <th>Latitud</th>
                            <th>Longitud</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/users",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            success: function (resultData) {
                for (var i = 0; i < resultData.users.length; i++) {
                    var user = resultData.users[i];
                    var id = user.id;
                    var name = user.name;
                    var email = user.email;
                    var alias = user.alias;
                    var gender = user.gender;
                    var age = user.age;
                    var latitude = user.location.latitude;
                    var longitude = user.location.longitude;
                    $("#tabla").append('<tr><td>' + id + '</td><td>' + name + '</td><td>' + alias + '</td><td>' + gender + '</td><td>' + age + '</td><td>' + email + '</td><td>' + latitude + '</td><td>' + longitude + '</td><td><button type="button" id="editar" class="btn btn-success" onclick="toEdit(\'' + id + '\')"><i class="material-icons">mode_edit</i></button></td><td><button type="button" id="eliminar" class="btn btn-warning" onclick="toDelete(\'' + id + '\')"><i class="material-icons">delete</i></button></td></tr>');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
            },
            timeout: 120000,
        });
    });

    function toEdit(id) {
        window.location.href = '/form_editUser?=' + id;
    }

    function toDelete(id) {
        $.ajax({
            url: '/users/' + id,
            type: 'DELETE',
            success: function (data) {
                alert("Usuario borrado satisfactoriamente");
                window.location.href = "/form_viewUser";
            }
        });
    }
</script>
</body>
</html>
